* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, blanchedalmond, white);
}


.container {
    display: grid;
    width: 90%;          
    max-width: 1200px;   
    margin: auto;
    background-color: blanchedalmond;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header ul  {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 10px;
}

.header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
     
}

.hero {
    height: 200px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(hero.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid brown;
    border-top: 3px solid salmon;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2px;
    margin-top: 20px;
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        text-align: center;
    }

    .header ul {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .judul {
        font-size: 28px;
    }

    .hero {
        height: 120px;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 15px;
    }
}

.card {
    background-color: white;
    border: 1px solid brown;
    padding: 20px;
    text-align: center;
    transition: 0.3s;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: lightblue;
    transform: translateY(-8px);
}
.card h2 {
    color: brown;
    font-weight: bold;
    font-size: 20px;
    font-family: "Arial", sans-serif;
}
.card p {
    color: black;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}
.header .judul {
    color: brown;
    font-weight: bold;
    font-size: 40px;
    font-family: "Arial", sans-serif;
}

